{% extends 'navbar.html' %}
{% block content %}

<!-- start About -->
    <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Consuelo Sanna

                </h1>
                <div class="subheading mb-5">E-mail me at
                <a target="_top" href="mailto:consu.sanna@gmail.com">consu.sanna@gmail.com</a>
                </div>
                <p class="lead mb-5">I am a new graduate in Computer Engineer, welcome to my portfolio. You can also find me and some of my works in the following platforms: </p>

                <div class="social-icons">
                <a href="https://www.linkedin.com/in/consuelo-sanna-85542683/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/consuelo-sanna" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                    <a href="https://app.codesignal.com/profile/consuelo_s" target="_blank">
                    <i class="fas fa-code"></i>
                </a>
                </div>
            </div>
            </section>
    </div>
    <!--End About -->

{% endblock %}