{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>


            <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Developer Intern</h3>
                <div class="subheading mb-3">Gruppo MutuiOnline</div>
                <p>My main responsability was to develop a web application as an interface for a database and solve bugs and issues in other programs when needed. The languages and tools most utilized were : <br> Visual Studio 2017, TFS, Framework .NET, NHibernate and C#</p>


            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">july 2018 - October 2018</span>
            </div>
            </div>

        </div>

        </section>

        <hr class="m-0">

</div>
{% endblock %}