{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">
    {% load static %}
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                <i class="fab fa-java"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
                <li class="list-inline-item">
                <img class="img-fluid rounded-circle mx-auto mb-2" src="{% static 'img/C_language.jpg' %}" alt="">
            </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing & Debugging</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development & Scrum</li>
            </ul>
        </div>
        </section>

        <hr class="m-0">

</div>
{% endblock %}